In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
os.getcwd()

'C:\\Users\\karan\\Desktop'

In [3]:
os.chdir("F:\python\Healthcare hospital")

In [26]:
test = pd.read_csv("wns.csv")
test

      case_id                Dept    Pck  Volume
0           1        radiotherapy  51-60    4911
1           2          anesthesia  51-60    5954
2           3          gynecology  51-60    4745
3           4  TB & Chest disease   fdvv    7272
4           5             surgery   gghh    5558
...       ...                 ...    ...     ...
1009     1035          gynecology  51-60    5683
1010     1036          gynecology  51-60    7241
1011     1037          gynecology  71-80    6194
1012     1038          gynecology  71-80    7632
1013     1039          gynecology  71-80    4039

[1014 rows x 4 columns]

In [27]:
IntPrd = pd.read_csv("IntPrd.csv")
IntPrd

    sno                Prod              IntPrd
0     1        radiotherapy        radiotherapy
1     2          anesthesia          anesthesia
2     3          gynecology          gynecology
3     4  TB & Chest disease  TB & Chest disease
4     5             surgery             surgery
5     6                  ra        radiotherapy
6     7                 rad        radiotherapy
7     8               radio        radiotherapy
8     9                 ans          anesthesia
9    10                anes          anesthesia
10   11               ansth          anesthesia
11   12                 gyn          gynecology
12   13                gyno          gynecology
13   14               gynco          gynecology
14   15                  TB  TB & Chest disease
15   16               Chest  TB & Chest disease
16   17           Chest dis  TB & Chest disease
17   18                 sug             surgery
18   19                 sur             surgery
19   20              surgry             surgery

In [28]:
Corp = pd.read_csv("Corp.csv")
Corp

                 Prod   Corp
0        radiotherapy   ViiV
1          anesthesia  Giled
2          gynecology  Merck
3  TB & Chest disease    JnJ
4             surgery    WNS

In [29]:
Mol = pd.read_csv("Mol.csv")
Mol

               IntPrd      Molecule
0        radiotherapy      abacavir
1          anesthesia      combivir
2          gynecology        dovato
3  TB & Chest disease  doultefravir
4             surgery       saltvir

In [30]:
Dot = pd.read_csv("Dot.csv")
Dot

      Pck   Pack   SU  Dot
0   51-60  51-60   20    2
1    fdvv  51-60   20    2
2    gghh  71-80   50    1
3   aassd  31-40   30    4
4      vv  31-40   30    4
5   71-80  71-80   50    1
6   31-40  31-40   30    4
7   81-90  81-90  100    2
8   61-70  61-70   10    2
9   41-50  41-50    1    1
10  21-30  21-30   50    1
11   0-10   0-10   40    1

In [41]:
df1=pd.merge(test,IntPrd,'left',left_on='Dept',right_on='Prod')
df1

,case_id,Dept,Pck,Volume,sno,Prod,IntPrd
0,1,radiotherapy,51-60,4911,1,radiotherapy,radiotherapy
1,2,anesthesia,51-60,5954,2,anesthesia,anesthesia
2,3,gynecology,51-60,4745,3,gynecology,gynecology
3,4,TB & Chest disease,fdvv,7272,4,TB & Chest disease,TB & Chest disease
4,5,surgery,gghh,5558,5,surgery,surgery
...,...,...,...,...,...,...,...
1009,1035,gynecology,51-60,5683,3,gynecology,gynecology
1010,1036,gynecology,51-60,7241,3,gynecology,gynecology
1011,1037,gynecology,71-80,6194,3,gynecology,gynecology
1012,1038,gynecology,71-80,7632,3,gynecology,gynecology
1013,1039,gynecology,71-80,4039,3,gynecology,gynecology

In [42]:
df1.isna().sum()

case_id    0
Dept       0
Pck        0
Volume     0
sno        0
Prod       0
IntPrd     0
dtype: int64

In [43]:
df1.drop(columns=['Prod','Dept','sno'],inplace=True)

In [44]:
df1

      case_id    Pck  Volume              IntPrd
0           1  51-60    4911        radiotherapy
1           2  51-60    5954          anesthesia
2           3  51-60    4745          gynecology
3           4   fdvv    7272  TB & Chest disease
4           5   gghh    5558             surgery
...       ...    ...     ...                 ...
1009     1035  51-60    5683          gynecology
1010     1036  51-60    7241          gynecology
1011     1037  71-80    6194          gynecology
1012     1038  71-80    7632          gynecology
1013     1039  71-80    4039          gynecology

[1014 rows x 4 columns]

In [45]:
df1=pd.merge(df1,Mol,'left','IntPrd')
df1

      case_id    Pck  Volume              IntPrd      Molecule
0           1  51-60    4911        radiotherapy      abacavir
1           2  51-60    5954          anesthesia      combivir
2           3  51-60    4745          gynecology        dovato
3           4   fdvv    7272  TB & Chest disease  doultefravir
4           5   gghh    5558             surgery       saltvir
...       ...    ...     ...                 ...           ...
1009     1035  51-60    5683          gynecology        dovato
1010     1036  51-60    7241          gynecology        dovato
1011     1037  71-80    6194          gynecology        dovato
1012     1038  71-80    7632          gynecology        dovato
1013     1039  71-80    4039          gynecology        dovato

[1014 rows x 5 columns]

In [61]:
df2=pd.merge(df1,Corp,'left',left_on='IntPrd',right_on='Prod')
df2

,case_id,Pck,Volume,IntPrd,Molecule,Prod,Corp
0,1,51-60,4911,radiotherapy,abacavir,radiotherapy,ViiV
1,2,51-60,5954,anesthesia,combivir,anesthesia,Giled
2,3,51-60,4745,gynecology,dovato,gynecology,Merck
3,4,fdvv,7272,TB & Chest disease,doultefravir,TB & Chest disease,JnJ
4,5,gghh,5558,surgery,saltvir,surgery,WNS
...,...,...,...,...,...,...,...
1009,1035,51-60,5683,gynecology,dovato,gynecology,Merck
1010,1036,51-60,7241,gynecology,dovato,gynecology,Merck
1011,1037,71-80,6194,gynecology,dovato,gynecology,Merck
1012,1038,71-80,7632,gynecology,dovato,gynecology,Merck
1013,1039,71-80,4039,gynecology,dovato,gynecology,Merck

In [62]:
df2.drop(columns=['Prod'],inplace=True)
df2

      case_id    Pck  Volume              IntPrd      Molecule   Corp
0           1  51-60    4911        radiotherapy      abacavir   ViiV
1           2  51-60    5954          anesthesia      combivir  Giled
2           3  51-60    4745          gynecology        dovato  Merck
3           4   fdvv    7272  TB & Chest disease  doultefravir    JnJ
4           5   gghh    5558             surgery       saltvir    WNS
...       ...    ...     ...                 ...           ...    ...
1009     1035  51-60    5683          gynecology        dovato  Merck
1010     1036  51-60    7241          gynecology        dovato  Merck
1011     1037  71-80    6194          gynecology        dovato  Merck
1012     1038  71-80    7632          gynecology        dovato  Merck
1013     1039  71-80    4039          gynecology        dovato  Merck

[1014 rows x 6 columns]

In [63]:
final_df=pd.merge(df2,Dot,'left','Pck')
final_df

,case_id,Pck,Volume,IntPrd,Molecule,Corp,Pack,SU,Dot
0,1,51-60,4911,radiotherapy,abacavir,ViiV,51-60,20,2
1,2,51-60,5954,anesthesia,combivir,Giled,51-60,20,2
2,3,51-60,4745,gynecology,dovato,Merck,51-60,20,2
3,4,fdvv,7272,TB & Chest disease,doultefravir,JnJ,51-60,20,2
4,5,gghh,5558,surgery,saltvir,WNS,71-80,50,1
...,...,...,...,...,...,...,...,...,...
1009,1035,51-60,5683,gynecology,dovato,Merck,51-60,20,2
1010,1036,51-60,7241,gynecology,dovato,Merck,51-60,20,2
1011,1037,71-80,6194,gynecology,dovato,Merck,71-80,50,1
1012,1038,71-80,7632,gynecology,dovato,Merck,71-80,50,1
1013,1039,71-80,4039,gynecology,dovato,Merck,71-80,50,1

In [64]:
final_df['DotVol']=((final_df['Volume'])/final_df['SU'])/final_df['Dot']

In [65]:
final_df

,case_id,Pck,Volume,IntPrd,Molecule,Corp,Pack,SU,Dot,DotVol
0,1,51-60,4911,radiotherapy,abacavir,ViiV,51-60,20,2,122.775
1,2,51-60,5954,anesthesia,combivir,Giled,51-60,20,2,148.850
2,3,51-60,4745,gynecology,dovato,Merck,51-60,20,2,118.625
3,4,fdvv,7272,TB & Chest disease,doultefravir,JnJ,51-60,20,2,181.800
4,5,gghh,5558,surgery,saltvir,WNS,71-80,50,1,111.160
...,...,...,...,...,...,...,...,...,...,...
1009,1035,51-60,5683,gynecology,dovato,Merck,51-60,20,2,142.075
1010,1036,51-60,7241,gynecology,dovato,Merck,51-60,20,2,181.025
1011,1037,71-80,6194,gynecology,dovato,Merck,71-80,50,1,123.880
1012,1038,71-80,7632,gynecology,dovato,Merck,71-80,50,1,152.640
1013,1039,71-80,4039,gynecology,dovato,Merck,71-80,50,1,80.780